.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-panel {
  flex: 1;
  padding: 2rem;
}

.right-panel {
  flex: 1;
  padding: 2rem;
}

.intro-container {
  margin-bottom: 2rem;
}

.intro-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.highlight {
  color: rgb(43, 45, 155);
}

.intro-typed {
  font-size: 1.5rem;
  color: rgb(26, 69, 110);
}

.profile-container {
  display: flex;
  align-items: left;
  margin-bottom: 2rem;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
}

.profile-desc {
  
  font-size: 1.2rem;
}

.skills-tree {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.tree-icon {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.skill-connector {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin-right: 1rem;
}

.skill-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.skill-desc {
  font-size: 1.2rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.project-card {
  border: 1px solid black;
  padding: 1rem;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-date {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-role {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-desc,
.project-achievements {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.experience-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.experience-card {
  border: 1px solid black;
  padding: 1rem;
}

.experience-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.experience-date {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.experience-role {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.experience-desc,
.experience-achievements {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.contact-desc {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.social-links a {
  margin-right: 1rem;
  font-size: 2rem;
  color: black;
}
