.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-brand h1 {
    margin: 0;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-item {
    padding: 5px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  